* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e8b57;
}

.cadastro-container {
    display: flex;
    flex-direction: column;
    padding: 25px 35px;
    background-color: white;
    border-radius: 18px;
    box-shadow: 10px 10px 10px rgb(31, 93, 31);
}

h1{
    font-size: 25px;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

span {
    color: rgb(229, 50, 50);
}

.cad-btn{
    margin: 10px auto;
    padding: 5px;
    width: 80px;
    justify-content: center;
    background-color: #3ebf76;
    color: white;
    font-weight: bolder;
    border-radius: 15px;
    border: none;
    box-shadow: 6px 6px 10px rgb(31, 93, 31);
    cursor: pointer;
    transition: transform 0.5s;
}

.cad-btn:hover {
    transform: scale(1.15);
}